
@import url('//fonts.googleapis.com/css?family=Lobster|Cabin:400,700');

.main-header .logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 18px;
}

.body_h2{
	font-family: 'Lobster', cursive;
	text-align: center;
	color:#ad1d28;
}
/*
.main-sidebar .sidebar{
	background-color: #2e2b2c;
}
*/
.form-group .shiny-input-container{
	background-color: white;
}
/*
.action-button .bttn .bttn-pill .bttn-md .bttn-default .bttn-no-outline{
	text-align: right;
}
*/
#run{
	font-family: "Lobster";
}

#rmr_class{
	color: white;
}